[submodule "ZoEngine/Vendor/spdlog"]
	path = ZoEngine/Vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ZoEngine/Vendor/GLFW"]
	path = ZoEngine/Vendor/GLFW
	url = https://github.com/zohebhynus/glfw
[submodule "ZoEngine/Vendor/ImGui"]
	path = ZoEngine/Vendor/ImGui
	url = https://github.com/zohebhynus/imgui
[submodule "ZoEngine/Vendor/glm"]
	path = ZoEngine/Vendor/glm
	url = https://github.com/g-truc/glm
